#test1_slide {
  background: #5970C1;
  background-size: auto 192px;
  background-repeat: no-repeat;
  padding-right: 280px;
  color: white;
  padding-top: 0;
}

#test1_slide p a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted;
}

#test1_slide p a:hover {
  border-bottom: 1px solid;
}

#test1_slide .pre {
  padding-top: 4rem;
}

#test1_slide .preinfo {
  color: #E6E8F0;
}

#test2_slide {
  background: #009688;
  padding-right: 368px;
  background-size: 256px auto;
  color: white;
}

#test2_slide .preinfo {
  color: #ECEFF1;
}

@media screen and (max-width: 768px) {
  #test1_slide, #test2_slide {
    padding-right: 1rem;
  }

  #test1_slide .pre {
    padding-top: 1rem;
  }

  #test1_slide {
    background-position: center bottom 20px;
    padding-bottom: 240px !important;
  }

  #test2_slide {
    background-size: 192px auto;
    padding-bottom: 330px !important;
  }

}
